.App {
  text-align: center;
  max-width: 100vw;
}

.link_class {
  color: #ffffff;
  text-decoration: none;
  
}
.link_class:hover {
  color: #f52626;
  text-decoration: none;
  transition: 0.5s;
  
}
